@font-face {
  font-family: 'Rubik';
  font-weight: normal;
  src: url('../fonts/Rubik/Rubik-Regular.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Rubik/Rubik-Regular.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-weight: normal;
  font-style: italic;
  src: url('../fonts/Rubik/Rubik-Italic.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/Rubik/Rubik-Bold.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-weight: bold;
  font-style: italic;
  src: url('../fonts/Rubik/Rubik-BoldItalic.ttf');
}

:root {
  --primaryColor: #1D957F;
  --secondaryColor: #000000;
  --tertiaryColor: #4285F4;
  --quaternaryColor: #616161;
  --white: #FCFDFE;
  --font: 'Rubik', sans-serif;
  --inter: 'Inter', sans-serif;

}

body {
  margin: 0;
}

.wrapper {
  display: block;
  max-inline-size: 1152px;
  margin: 0 auto;
  padding-inline: 40px;
}

.header {
  margin-block-start: 51px;
}

.header-content {
  display: block
}

.header .header-logo {
  position: relative;
}

.header .header-logo img {
  position: relative;
}

.header-navigation {
  display: block;
}

.header-navigation .navigation-list {
  display: block;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
}

.header-navigation .navigation-item {
  display: none;
  margin-inline-end: 38px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: .65em;
  line-height: 12px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
}

.header-navigation .navigation-item:last-child {
  margin-inline-end: 0;
}

.header-content .header-right {
  display: none;
}

.h1 {
  font-weight: 700;
  font-style: normal;
  font-size: 44px;
  line-height: 55.44px;
  font-family: var(--font);
  color: var(--primaryColor);
  margin: 0;
}

.h1 span {
  color: var(--secondaryColor);
}

p {
  font-family: var(--font);
  color: var(--quaternaryColor);
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.08em;
  margin-block: 11px;
}

.btn {
  border: 0;
  background: var(--primaryColor);
  border-radius: 5px;
  padding-inline: 29px;
  padding-block: 14px;
  letter-spacing: 0.14em;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: var(--white);
  line-height: 12px;
  font-size: 10px;
  text-transform: uppercase;
}

.section-content .h1 p {
  max-width: 375px;
}

.section-image img{
  inline-size: 100%;
}

.card {
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  inline-size: 100%;
}

.card-vertical {
  border: 3px solid var(--primaryColor);
  align-items: center;
  border-radius: 20px;
  padding-inline: 18px;
  display: block;
  max-inline-size: 360px;
  margin: auto;
}

.card-counter {
 /* margin-block-start: 53px; */
 z-index: 1;
 padding-inline: 69px;
 padding-block: 28px;
 display: flex;
 justify-content: space-between;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.counter-item {
  font-family: var(--font);
  text-align: center;
  font-weight: 700;
}

.counter-number {
  color: var(--primaryColor);
  font-style: normal;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.14em;
  margin-block-end: 5px;
}

.counter-text {
  font-size: 11px;
  line-height: 13.04px;
  letter-spacing: 0.37em; 
}

.card-body {
  margin-block-start: 20px;
  margin-block-end: 24px;
}

.card-content {
  text-align: center;
  margin-inline: 8px;
  margin-block: 24px;
}

.card-content .h1 {
  margin-block-end: 16px;
  font-family: var(--inter);
  font-size: 32px;
  line-height: 28.73px;
}

.card-content p {
  font-family: var(--inter);
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
}

.card-image {
  margin: 0 auto;
  text-align: center;
}

.ellipse {
  border-radius: 200px;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0px 12px 12px rgba(50, 50, 71, 0.08)), drop-shadow(0px 16px 24px rgba(50, 50, 71, 0.08));
  /* box-shadow: 1px 5px 3px 0 rgba(0, 0, 0, 0.25); */
  overflow: hidden;
  inline-size: 180px;
  block-size: 180px;
  
  margin: auto;
  position: relative;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, .1);
}

.card-image img {
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
}

.section-3 {
  background: #FAFBFD;
}

.counter {
  position: relative;
  display: flex;
  inline-size: auto;
  margin-block-start: 53px;
  padding-block-start: 51px;
  padding-block-end: 33px;
  padding-inline-start: 31px;
  padding-inline-end: 76px;
  margin-inline: auto;
  inline-size: 654px;
}


.counter-text {
  text-transform: uppercase;
}

.section-3 .section-content {
  display: flex;
}

@media screen and (min-width: 758px) {
    
  .wrapper {
    padding-inline: 70px;
  }
  
  .section-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "description image";
  } 
  
  .section-2 .section-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "card description";
  }

  .section-description {
    grid-area: description;
    align-self: center;
  }

  .section-image {
    grid-area: image;
    align-self: center;
    margin-block: 86px;
  }

  .section-image img{
    max-inline-size: 547px;
  }

  .section-card {
    grid-area: card;
    align-self: center;
    margin-block: 86px;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
  }

  .header-content .header-right {
    display: block;
  }

  .header .header-logo img {
    position: absolute;
    top: -10px;
    left: -20px;
  }

  .header-navigation .navigation-item {
    display: inline-block;
  }

  .header-content .header-right .header-right-content {
    height: 700px;
    background-color: var(--primaryColor);
    position: absolute;
    right: 0;
    top: 0;
    width: 295px;
    border-radius: 30px 0px 0px 30px;
    z-index: -1;
  }

  .section-2 .card {
    position: relative;
  }

  .block-float {
    position: absolute;
    top: 56px;
    left: -26px;
    background: var(--primaryColor);
    inline-size: 147px;
    block-size: 147px;
    border-radius: 30px;
    z-index: -1;
  }

  .block-float-bottom-left {
    left: 10px;
    bottom: 15px;
    top: auto;
    inline-size: 65.75px;
    block-size: 65.75px;
    border-radius: 16px;
    transform: rotate(-30deg);
    z-index: 0;
  }

  .block-float-top {
    margin: 0 auto;
    top: 15px;
    left: -150px;
    right: 0;
    z-index: 0;
    inline-size: 96px;
    block-size: 96px;
    transform: rotate(105deg);
  }

  .block-float-right {
    top: auto;
    bottom: 25px;
    left: auto;
    right: 25px;
    z-index: 0;
    inline-size: 127.47px;
    block-size: 127.47px;
    transform: rotate(-30deg);
  }
  

  .card-body {
    margin-block-start: 98px;
    margin-block-end: 92px;
  }
  
  .card-content {
    text-align: center;
    margin-inline: 8px;
    margin-block: 24px;
  }

  .card-image {
    margin: 0 auto;
    text-align: center;
  }

  .section-2 .section-description {
    inline-size: 379px;
  }
  
  .section-2 .section-description .section-body {
    margin-block-end: 24px;
  }
  
  .section-2 .section-description p {
    padding-inline-end: 16px;
  }
  
  .ellipse {
    border-radius: 200px;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(0px 12px 12px rgba(50, 50, 71, 0.08)), drop-shadow(0px 16px 24px rgba(50, 50, 71, 0.08));
    /* box-shadow: 1px 5px 3px 0 rgba(0, 0, 0, 0.25); */
    overflow: hidden;
    inline-size: 260.8px;
    block-size: 260.8px;
    margin: auto;
    position: relative;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, .1);
  }
  
  .card-image img {
    position: absolute;
    max-inline-size: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
  }

  .section-3 .section-content {
    display: grid;
    grid-template-areas: "counter counter"
                         "description image";
  }

  .counter {
    grid-area: counter;
    inline-size: 654px;
  }

  .section-3 .section-description {
    inline-size: 363px;
  }

}